<h1><%= @post.title %></h1>

<p>
  <strong>Tags:</strong>
  <%= @post.tags %>
</p>

<div class="post-date"><%= l(@post.created_at) %></div>

<div class="post">
  <%= markdown @post.body %>
</div>

<%= link_to "Back", posts_path %>
